::-webkit-scrollbar {
    display: none;
}

.sombra {
    -webkit-box-shadow: 0px 0px 55px -9px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 55px -9px rgba(0,0,0,1);
    box-shadow: 0px 0px 55px -9px rgba(0,0,0,1);
    padding: 15px;
}

.borderR {
    border-radius: 30px;
    padding: 15px;
}

.dark {
    background-color: #333333;
}

.info {
    background-color: #1e1e1e;
}

/* Maquetado */
.general {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "imagen login"
        "imagen login"
        "imagen login"
        "imagen  login";
}
.general .imagen {
    grid-area: imagen;
    padding: 40px;
}
.general .titulo {
    grid-area: titulo;
    padding: 40px;
}
.general .login {
    grid-area: login;
    padding: 40px;
}
.general .footer {
    grid-area: footer;
    padding: 15px;
}



/* Configuración para el responsive movil */
@media screen and (max-width: 800px){
    .general {
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "titulo titulo"
            "imagen imagen"
            "login login"
            "login login"
            "footer  footer";
    }
}

